.event {
  position: absolute;
  width: 80%;
  background-color: cornflowerblue;
  z-index: 1;
  border-radius: 8px;
  padding: 8px;
  color: #fff;

  &__title {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 8px;
  }
  &__delete {
    position: relative;
    display: block;
    top: -5%;
    right: -220px;
    width: 160px;
    height: 70px;
    background: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    box-shadow: 10px 5px 20px -5px rgba(0, 0, 0, 0.75);
    font-weight: 700;
  }
  &__delete-button {
    font-weight: 700;
    border: none;
    background: #fff;
    cursor: pointer;
  }

  &__delete-icon {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.75);
  }
}

.delete-event-btn {
  cursor: pointer;
  border: none;
  text-transform: uppercase;
}
