.header {
  display: flex;
  height: 60px;
  padding: 0 48px;
  align-items: center;
}

.create-event-btn {
  padding: 0 16px;
  text-transform: uppercase;
  border-radius: 24px;

  &__icon {
    margin-right: 8px;
  }
}
